:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
        
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    font-family: 'Red Hat Display', sans-serif;
    border: 1px solid black;
    border-radius: 1.125rem;
    overflow: hidden;
    width: 300px;
    display: grid;
    text-align: center;
}

article > img {
    display: block;
    width: 100%;
}

article > div {
    margin: 1.725rem 1.1725rem .725rem 1.725rem;
}

article > section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Very-pale-blue);
    margin: 1.125rem;
    padding-block: .725rem;
    border-radius: .725rem;

}

